---
page_title: "haproxy-dataplane_crt_load Resource - HAProxy Data Plane"
subcategory: "Configuration"
description: |-
  Manages HAProxy crt load configuration.
---

# haproxy-dataplane_crt_load (Resource)

Use this resource to manage the crt_load object in HAProxy Data Plane API.

## Example Usage

This baseline example shows the minimum Terraform shape for this resource.
Use it as a starting point and adjust the required fields to match your HAProxy configuration model.

{{tffile "examples/resources/crt_load/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}
