---
page_title: "haproxy-dataplane_default_tcp_request_rule Resource - HAProxy Data Plane"
subcategory: "Configuration"
description: |-
  Manages HAProxy default tcp request rule configuration.
---

# haproxy-dataplane_default_tcp_request_rule (Resource)

Use this resource to manage the default_tcp_request_rule object in HAProxy Data Plane API.

## Example Usage

This baseline example shows the minimum Terraform shape for this resource.
Use it as a starting point and adjust the required fields to match your HAProxy configuration model.

{{tffile "examples/resources/default_tcp_request_rule/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}
