---
page_title: "haproxy-dataplane_fcgi_app_acl Resource - HAProxy Data Plane"
subcategory: "Configuration"
description: |-
  Manages HAProxy fcgi app acl configuration.
---

# haproxy-dataplane_fcgi_app_acl (Resource)

Use this resource to manage the fcgi_app_acl object in HAProxy Data Plane API.

## Example Usage

This baseline example shows the minimum Terraform shape for this resource.
Use it as a starting point and adjust the required fields to match your HAProxy configuration model.

{{tffile "examples/resources/fcgi_app_acl/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}
