---
page_title: "haproxy-dataplane_fcgi_app Resource - HAProxy Data Plane"
subcategory: "Configuration"
description: |-
  Manages HAProxy fcgi app configuration.
---

# haproxy-dataplane_fcgi_app (Resource)

Use this resource to manage the fcgi_app object in HAProxy Data Plane API.

## Example Usage

This baseline example shows the minimum Terraform shape for this resource.
Use it as a starting point and adjust the required fields to match your HAProxy configuration model.

{{tffile "examples/resources/fcgi_app/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}
