---
page_title: "haproxy-dataplane_frontend_http_response_rule Resource - HAProxy Data Plane"
subcategory: "Configuration"
description: |-
  Manages HAProxy frontend http response rule configuration.
---

# haproxy-dataplane_frontend_http_response_rule (Resource)

Use this resource to manage the frontend_http_response_rule object in HAProxy Data Plane API.

## Example Usage

This baseline example shows the minimum Terraform shape for this resource.
Use it as a starting point and adjust the required fields to match your HAProxy configuration model.

{{tffile "examples/resources/frontend_http_response_rule/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}
