---
page_title: "haproxy-dataplane_acme Data Source - HAProxy Data Plane"
subcategory: "Configuration"
description: |-
  Reads HAProxy acme configuration.
---

# haproxy-dataplane_acme (Data Source)

Use this data source to read existing acme configuration from HAProxy.

## Example Usage

This baseline example shows the required arguments for looking up this object.

{{tffile "examples/data-sources/acme/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}
