---
page_title: "haproxy-dataplane_backend_server_template Data Source - HAProxy Data Plane"
subcategory: "Configuration"
description: |-
  Reads HAProxy backend server template configuration.
---

# haproxy-dataplane_backend_server_template (Data Source)

Use this data source to read existing backend_server_template configuration from HAProxy.

## Example Usage

This baseline example shows the required arguments for looking up this object.

{{tffile "examples/data-sources/backend_server_template/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}
