---
page_title: "haproxy-dataplane_backend_log_target Data Source - HAProxy Data Plane"
subcategory: "Configuration"
description: |-
  Reads HAProxy backend log target configuration.
---

# haproxy-dataplane_backend_log_target (Data Source)

Use this data source to read existing backend_log_target configuration from HAProxy.

## Example Usage

This baseline example shows the required arguments for looking up this object.

{{tffile "examples/data-sources/backend_log_target/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}
