---
page_title: "haproxy-dataplane_backend_tcp_check Data Source - HAProxy Data Plane"
subcategory: "Configuration"
description: |-
  Reads HAProxy backend tcp check configuration.
---

# haproxy-dataplane_backend_tcp_check (Data Source)

Use this data source to read existing backend_tcp_check configuration from HAProxy.

## Example Usage

This baseline example shows the required arguments for looking up this object.

{{tffile "examples/data-sources/backend_tcp_check/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}
