---
page_title: "haproxy-dataplane_backend_acl Data Source - HAProxy Data Plane"
subcategory: "Configuration"
description: |-
  Reads HAProxy backend acl configuration.
---

# haproxy-dataplane_backend_acl (Data Source)

Use this data source to read existing backend_acl configuration from HAProxy.

## Example Usage

This baseline example shows the required arguments for looking up this object.

{{tffile "examples/data-sources/backend_acl/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}
