---
page_title: "haproxy-dataplane_backend_http_response_rule Data Source - HAProxy Data Plane"
subcategory: "Configuration"
description: |-
  Reads HAProxy backend http response rule configuration.
---

# haproxy-dataplane_backend_http_response_rule (Data Source)

Use this data source to read existing backend_http_response_rule configuration from HAProxy.

## Example Usage

This baseline example shows the required arguments for looking up this object.

{{tffile "examples/data-sources/backend_http_response_rule/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}
