---
page_title: "haproxy-dataplane_cache Data Source - HAProxy Data Plane"
subcategory: "Configuration"
description: |-
  Reads HAProxy cache configuration.
---

# haproxy-dataplane_cache (Data Source)

Use this data source to read existing cache configuration from HAProxy.

## Example Usage

This baseline example shows the required arguments for looking up this object.

{{tffile "examples/data-sources/cache/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}
