---
page_title: "haproxy-dataplane_crt_load Data Source - HAProxy Data Plane"
subcategory: "Configuration"
description: |-
  Reads HAProxy crt load configuration.
---

# haproxy-dataplane_crt_load (Data Source)

Use this data source to read existing crt_load configuration from HAProxy.

## Example Usage

This baseline example shows the required arguments for looking up this object.

{{tffile "examples/data-sources/crt_load/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}
