---
page_title: "haproxy-dataplane_crt_store Data Source - HAProxy Data Plane"
subcategory: "Configuration"
description: |-
  Reads HAProxy crt store configuration.
---

# haproxy-dataplane_crt_store (Data Source)

Use this data source to read existing crt_store configuration from HAProxy.

## Example Usage

This baseline example shows the required arguments for looking up this object.

{{tffile "examples/data-sources/crt_store/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}
