---
page_title: "haproxy-dataplane_default_acl Data Source - HAProxy Data Plane"
subcategory: "Configuration"
description: |-
  Reads HAProxy default acl configuration.
---

# haproxy-dataplane_default_acl (Data Source)

Use this data source to read existing default_acl configuration from HAProxy.

## Example Usage

This baseline example shows the required arguments for looking up this object.

{{tffile "examples/data-sources/default_acl/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}
