---
page_title: "haproxy-dataplane_default_tcp_check Data Source - HAProxy Data Plane"
subcategory: "Configuration"
description: |-
  Reads HAProxy default tcp check configuration.
---

# haproxy-dataplane_default_tcp_check (Data Source)

Use this data source to read existing default_tcp_check configuration from HAProxy.

## Example Usage

This baseline example shows the required arguments for looking up this object.

{{tffile "examples/data-sources/default_tcp_check/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}
