---
page_title: "haproxy-dataplane_fcgi_app Data Source - HAProxy Data Plane"
subcategory: "Configuration"
description: |-
  Reads HAProxy fcgi app configuration.
---

# haproxy-dataplane_fcgi_app (Data Source)

Use this data source to read existing fcgi_app configuration from HAProxy.

## Example Usage

This baseline example shows the required arguments for looking up this object.

{{tffile "examples/data-sources/fcgi_app/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}
