---
page_title: "haproxy-dataplane_frontend_quic_initial_rule Data Source - HAProxy Data Plane"
subcategory: "Configuration"
description: |-
  Reads HAProxy frontend quic initial rule configuration.
---

# haproxy-dataplane_frontend_quic_initial_rule (Data Source)

Use this data source to read existing frontend_quic_initial_rule configuration from HAProxy.

## Example Usage

This baseline example shows the required arguments for looking up this object.

{{tffile "examples/data-sources/frontend_quic_initial_rule/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}
