---
page_title: "haproxy-dataplane_frontend_acl Data Source - HAProxy Data Plane"
subcategory: "Configuration"
description: |-
  Reads HAProxy frontend acl configuration.
---

# haproxy-dataplane_frontend_acl (Data Source)

Use this data source to read existing frontend_acl configuration from HAProxy.

## Example Usage

This baseline example shows the required arguments for looking up this object.

{{tffile "examples/data-sources/frontend_acl/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}
