---
page_title: "haproxy-dataplane_frontend_ssl_front_use Data Source - HAProxy Data Plane"
subcategory: "Configuration"
description: |-
  Reads HAProxy frontend ssl front use configuration.
---

# haproxy-dataplane_frontend_ssl_front_use (Data Source)

Use this data source to read existing frontend_ssl_front_use configuration from HAProxy.

## Example Usage

This baseline example shows the required arguments for looking up this object.

{{tffile "examples/data-sources/frontend_ssl_front_use/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}
