---
page_title: "haproxy-dataplane_frontend_bind Data Source - HAProxy Data Plane"
subcategory: "Configuration"
description: |-
  Reads HAProxy frontend bind configuration.
---

# haproxy-dataplane_frontend_bind (Data Source)

Use this data source to read existing frontend_bind configuration from HAProxy.

## Example Usage

This baseline example shows the required arguments for looking up this object.

{{tffile "examples/data-sources/frontend_bind/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}
