---
page_title: "haproxy-dataplane_frontend_http_request_rule Data Source - HAProxy Data Plane"
subcategory: "Configuration"
description: |-
  Reads HAProxy frontend http request rule configuration.
---

# haproxy-dataplane_frontend_http_request_rule (Data Source)

Use this data source to read existing frontend_http_request_rule configuration from HAProxy.

## Example Usage

This baseline example shows the required arguments for looking up this object.

{{tffile "examples/data-sources/frontend_http_request_rule/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}
