---
page_title: "haproxy-dataplane_global Data Source - HAProxy Data Plane"
subcategory: "Configuration"
description: |-
  Reads HAProxy global configuration.
---

# haproxy-dataplane_global (Data Source)

Use this data source to read existing global configuration from HAProxy.

## Example Usage

This baseline example shows the required arguments for looking up this object.

{{tffile "examples/data-sources/global/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}
