---
page_title: "haproxy-dataplane_group Data Source - HAProxy Data Plane"
subcategory: "Configuration"
description: |-
  Reads HAProxy group configuration.
---

# haproxy-dataplane_group (Data Source)

Use this data source to read existing group configuration from HAProxy.

## Example Usage

This baseline example shows the required arguments for looking up this object.

{{tffile "examples/data-sources/group/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}
