---
page_title: "haproxy-dataplane_http_errors_section Data Source - HAProxy Data Plane"
subcategory: "Configuration"
description: |-
  Reads HAProxy http errors section configuration.
---

# haproxy-dataplane_http_errors_section (Data Source)

Use this data source to read existing http_errors_section configuration from HAProxy.

## Example Usage

This baseline example shows the required arguments for looking up this object.

{{tffile "examples/data-sources/http_errors_section/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}
