---
page_title: "haproxy-dataplane_mailer_entry Data Source - HAProxy Data Plane"
subcategory: "Configuration"
description: |-
  Reads HAProxy mailer entry configuration.
---

# haproxy-dataplane_mailer_entry (Data Source)

Use this data source to read existing mailer_entry configuration from HAProxy.

## Example Usage

This baseline example shows the required arguments for looking up this object.

{{tffile "examples/data-sources/mailer_entry/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}
