---
page_title: "haproxy-dataplane_nameserver Data Source - HAProxy Data Plane"
subcategory: "Configuration"
description: |-
  Reads HAProxy nameserver configuration.
---

# haproxy-dataplane_nameserver (Data Source)

Use this data source to read existing nameserver configuration from HAProxy.

## Example Usage

This baseline example shows the required arguments for looking up this object.

{{tffile "examples/data-sources/nameserver/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}
