---
page_title: "haproxy-dataplane_peer_bind Data Source - HAProxy Data Plane"
subcategory: "Configuration"
description: |-
  Reads HAProxy peer bind configuration.
---

# haproxy-dataplane_peer_bind (Data Source)

Use this data source to read existing peer_bind configuration from HAProxy.

## Example Usage

This baseline example shows the required arguments for looking up this object.

{{tffile "examples/data-sources/peer_bind/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}
