---
page_title: "haproxy-dataplane_peer_server Data Source - HAProxy Data Plane"
subcategory: "Configuration"
description: |-
  Reads HAProxy peer server configuration.
---

# haproxy-dataplane_peer_server (Data Source)

Use this data source to read existing peer_server configuration from HAProxy.

## Example Usage

This baseline example shows the required arguments for looking up this object.

{{tffile "examples/data-sources/peer_server/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}
