---
page_title: "haproxy-dataplane_peer_section Data Source - HAProxy Data Plane"
subcategory: "Configuration"
description: |-
  Reads HAProxy peer section configuration.
---

# haproxy-dataplane_peer_section (Data Source)

Use this data source to read existing peer_section configuration from HAProxy.

## Example Usage

This baseline example shows the required arguments for looking up this object.

{{tffile "examples/data-sources/peer_section/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}
