---
page_title: "haproxy-dataplane_peer_table Data Source - HAProxy Data Plane"
subcategory: "Configuration"
description: |-
  Reads HAProxy peer table configuration.
---

# haproxy-dataplane_peer_table (Data Source)

Use this data source to read existing peer_table configuration from HAProxy.

## Example Usage

This baseline example shows the required arguments for looking up this object.

{{tffile "examples/data-sources/peer_table/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}
