---
page_title: "haproxy-dataplane_program Data Source - HAProxy Data Plane"
subcategory: "Configuration"
description: |-
  Reads HAProxy program configuration.
---

# haproxy-dataplane_program (Data Source)

Use this data source to read existing program configuration from HAProxy.

## Example Usage

This baseline example shows the required arguments for looking up this object.

{{tffile "examples/data-sources/program/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}
