---
page_title: "haproxy-dataplane_ring_server Data Source - HAProxy Data Plane"
subcategory: "Configuration"
description: |-
  Reads HAProxy ring server configuration.
---

# haproxy-dataplane_ring_server (Data Source)

Use this data source to read existing ring_server configuration from HAProxy.

## Example Usage

This baseline example shows the required arguments for looking up this object.

{{tffile "examples/data-sources/ring_server/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}
