---
page_title: "haproxy-dataplane_ring Data Source - HAProxy Data Plane"
subcategory: "Configuration"
description: |-
  Reads HAProxy ring configuration.
---

# haproxy-dataplane_ring (Data Source)

Use this data source to read existing ring configuration from HAProxy.

## Example Usage

This baseline example shows the required arguments for looking up this object.

{{tffile "examples/data-sources/ring/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}
