---
page_title: "haproxy-dataplane_user Data Source - HAProxy Data Plane"
subcategory: "Configuration"
description: |-
  Reads HAProxy user configuration.
---

# haproxy-dataplane_user (Data Source)

Use this data source to read existing user configuration from HAProxy.

## Example Usage

This baseline example shows the required arguments for looking up this object.

{{tffile "examples/data-sources/user/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}
