---
page_title: "haproxy-dataplane_version Data Source - HAProxy Data Plane"
subcategory: "Observability"
description: |-
  Reads HAProxy and Data Plane API version information.
---

# haproxy-dataplane_version (Data Source)

Use this data source to read runtime version metadata from HAProxy Data Plane API.

## Example Usage

```terraform
data "haproxy-dataplane_version" "current" {}

output "dataplane_version" {
  value = data.haproxy-dataplane_version.current.spec["api_version"]
}
```

{{ .SchemaMarkdown | trimspace }}
