name: ci

on:
  pull_request:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.22"
      - name: fmt
        run: |
          test -z "$(gofmt -l $(find . -name '*.go' -not -path './vendor/*'))"
      - name: test
        run: go test ./...
